h1 {
    padding: 5px;
}
h1:hover {
    opacity: 0.5;
}
h2 {
    width: 80px;
}
.content p {
    width: 350px;
}
:nth-child(6) {
    background-color: orange;
}
h2:nth-of-type(4) {
    color: white;
    background-color: black;
}
p::first-letter {
    color: red;
}
h2::before {
    content: "★";
    color: orange;
}
#summer:hover {
    color: red;
}
#Christmas:visited {
    color: green;
}