/* .after {
    text-decoration: dashed red underline;
} */
 .all {
    background-color: pink;
    width: 300px;
    height: 400px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
h1{
    /*text-align: center;
    text-decoration: solid black underline overline !important;*/
    text-align: center;
    text-decoration-line: underline overline;  /* 下線と上線を指定 */
    text-decoration-style: solid;              /* 線のスタイルを指定 */
    text-decoration-color: black;
}

.list{
    text-align: center;
}
.listall {
    background-color: white;
    width: 300px;
    height: 200px;
}
.all,.listall{
    border: solid black 2px;
}
#shoes {
    font-weight: bold;
}